body {
  background-color: #f1f1f1;
}

#regForm {
  position: relative;
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  padding-bottom: 0;
  width: 480px;
  min-width: 300px;
}

input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.buttonForm {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 15px 50px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

.buttonForm:hover {
  opacity: 0.8;
}

#nextBtn {
  position: absolute;
  bottom: 0;
  right: 0;
}

#prevBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;